@font-face {
  font-family: 'RobotoMono-Regular';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/RobotoMono-Regular.ttf'); /* IE9 Compat Modes */
  src: local('SpaceMono-Regular'), local('SpaceMono-Regular'),
       url('assets/fonts/RobotoMono-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
}
body {
  font-family: 'RobotoMono-Regular';
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  position: relative;
  font-size: 13px;
}
img {
  width: 100%;
}
